@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.gradient {
  background: hsla(291, 79%, 51%, 1);

  background: linear-gradient(
    90deg,
    hsla(291, 79%, 51%, 1) 0%,
    hsla(240, 91%, 73%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(291, 79%, 51%, 1) 0%,
    hsla(240, 91%, 73%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(291, 79%, 51%, 1) 0%,
    hsla(240, 91%, 73%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#C621E5", endColorstr="#7D7CF9", GradientType=1 );
}

.crypto-table tbody tr {
  border-bottom: 1px solid #5959598a;
}
